/* src/app/commissions/commissions.module.css */

/* Custom slider styles */
.commission-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background: rgb(39 39 42);
  border-radius: 0.5rem;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: background .2s;
}

.commission-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: rgb(147 51 234);
  cursor: pointer;
  border-radius: 50%;
}

.commission-slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: rgb(147 51 234);
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

/* Remove default focus outline on sliders */
.commission-slider:focus {
  outline: none;
}

/* Hover effect on slider thumb */
.commission-slider::-webkit-slider-thumb:hover {
  background: rgb(168 85 247);
  transform: scale(1.1);
}

.commission-slider::-moz-range-thumb:hover {
  background: rgb(168 85 247);
  transform: scale(1.1);
}